<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/posts_printed">
      <label>
        Title:
        <input type="text" name="title" value=""><br/>
      </label>
      <label>
        Author:
        <input type="text" name="author" value=""><br/>
      </label>
      <label>
        Content:
        <input type="text" name="content" value=""><br/>
      </label>
      <button type="submit">Post!</button>
    </form>
  </body>
</html>
